.container
  %h1 Funcionários
  %hr
  = button_to 'Novo', new_employee_path, method: :get

  - if @employees.empty?
    %p Nada encontrado.
  - else
    %table
      %th Nome:
      %th Cpf:
      %th Empresa:
      - @employees.each do |employee|
        %tr
          %td= link_to employee.name, employee
          %td= employee.cpf
          %td= link_to employee.company.name, employee.company

  Total:
  = @employees.count
