.container
  %h1
    = @employee.name
    %hr
  .row
    .col-25
      Cpf:
    .col-75
      = @employee.cpf
  .row
    .col-25
      Empresa:
    .col-75
      = link_to @employee.company.name, @employee.company
  .row
    .col-25
      Placa do Veículo:
    .col-75
      = @employee.plate
  .row
    .col-25
      Últimas visitas:
    .col-75
      - if @employee.appointments.empty?
        Nenhuma Visita
      - else
        - @employee.appointments.each do |appointment|
          = link_to appointment.description, appointment
          com
          = link_to appointment.host.name, appointment.host
          em
          = appointment.date
          %br/
  %p
    Criado por
    = link_to @employee.created_by.name, @employee.created_by
    em
    = @employee.created_at
    %br
    - if @employee.updated?
      Atualizado por
      = link_to @employee.updated_by.name, @employee.updated_by
      em
      = @employee.updated_at
  %p
    = link_to 'Editar', edit_employee_path(@employee)
    = link_to 'Apagar', @employee, method: :delete, data: { confirm: 'Esta ação é irreversível. Deseja continuar?' }
