= form_with(model: visitor, local: true) do |form|
  - if visitor.errors.any?
    #error_explanation
      %h2
        = pluralize(visitor.errors.count, "error")
        prohibited this visitor from being saved:"
      %ul
        - visitor.errors.full_messages.each do |message|
          %li= message
  .row
    .col-25
      = form.label :name, 'Nome do visitante:'
    .col-75
      = form.text_field :name, required: true
  .row
    .col-25
      = form.label :cpf, 'Cpf:'
    .col-75
      = form.text_field :cpf, id: 'cpf', required: true
  .row
    .col-25
      = form.label :plate, 'Placa do Veículo'
    .col-75
      = form.text_field :plate, id: 'plate'
  .row
    = form.submit 'Avançar'

