= form_for @visitor do |f|
  - if @visitor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@visitor.errors.count, "error")} prohibited this visitor from being saved:"
      %ul
        - @visitor.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :cpf
    = f.text_field :cpf
  .actions
    = f.submit 'Save'
