%p#notice= notice
%h1 Visitors
%table
  %thead
    %tr
      %th Cpf
      %th Name
      %th Company
      %th{:colspan => "3"}
  %tbody
    - @visitors.each do |visitor|
      %tr
        %td= visitor.cpf
        %td= visitor.name
        %td= visitor.company
        %td= link_to 'Show', visitor
        %td= link_to 'Edit', edit_visitor_path(visitor)
        %td= link_to 'Destroy', visitor, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Visitor', new_visitor_path
