= form_with(model: user, local: true) do |form|
  - if user.errors.any?
    #error_explanation
      %h2
        = pluralize(user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - user.errors.full_messages.each do |message|
          %li= message
  .row
    .col-25
      = form.label :name, 'Nome de usuário'
    .col-75
      = form.text_field :name, autocapitalize: false
  .row
    .col-25
      = form.label :password, 'Senha'
    .col-75
      = form.text_field :password
  .row
    .col-25
      = form.label :password_confirmation, 'Confirme a Senha'
    .col-75
      = form.text_field :password_confirmation
  .row
    .col-25
      = form.label :role, 'Função'
    .col-75
      = form.radio_button :role, 1
      = form.label :role, 'Administrador', value: 1
      %br
      = form.radio_button :role, 2
      = form.label :role, 'Supervisor', value: 2
      %br
      = form.radio_button :role, 3
      = form.label :role, 'Operador', value: 3
      %br
      = form.radio_button :role, 4
      = form.label :role, 'Síndico', value: 4
      %br
      = form.radio_button :role, 5
      = form.label :role, 'Condômino', value: 5
  .row
    = form.submit 'Avançar'
