= form_with(model: user, local: true) do |form|
  - if user.errors.any?
    #error_explanation
      %h2
        = pluralize(user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - user.errors.full_messages.each do |message|
          %li= message
  .row
    .col-25
      = form.label :name, 'Nome de usuário'
    .col-75
      = form.text_field :name, autocapitalize: false
  .row
    .col-25
      = form.label :password, 'Senha'
    .col-75
      = form.text_field :password
  .row
    .col-25
      = form.label :password_confirmation
    .col-75
      = form.text_field :password_confirmation
  .row
    .col-25
      = form.label :role
    .col-75
      = 123
  .row
    = form.submit 'Avançar'
