%p#notice= notice

%sub
  = link_to '[home]', root_path
  = link_to '[dev]', dev_path
  = link_to '[return]', users_path

%p
  %b Name:
  = @user.name
%p
  %b Password (hash):
  = @user.password_digest
%p
  %b ID (internal):
  = @user.id

= link_to 'Edit', edit_user_path(@user)
