%p#notice= notice

%h1
  Prédios
  = link_to ?+, new_facility_path

- if @facilities.empty?
  %p Nada encontrado.
- else
  .container
    %table
      %th Nome
      %th Moradores
      - @facilities.each do |facility|
        %tr
          %td= link_to facility.name, facility
          - if facility.residents.empty?
            %td (empty)
          - else
            %td
              - facility.residents.each do |resident|
                = link_to resident.name, resident

  Total:
  = @facilities.count
