.container
  %h1
    = @facility.name
  %hr
  .row
    .col-25
      Moradores:
    .col-75
      - if @facility.residents.empty?
        Nenhum
      - else
        - @facility.residents.each do |resident|
          = link_to resident.name, resident
          %br/

  %p
    Criado por
    = link_to @facility.created_by.name, @facility.created_by
    em
    = @facility.created_at
    %br
    - if @facility.updated?
      Atualizado por
      = link_to @facility.updated_by.name, @facility.updated_by
      em
      = @facility.updated_at
  %p
    = link_to 'Editar', edit_facility_path(@facility)
    = link_to 'Apagar', @facility, method: :delete, data: { confirm: 'Esta ação é irreversível. Deseja continuar?' }
