%p#notice= notice
%h6= link_to '盤', dev_path
%table
  %th 名
  %th{colspan: @facility.hosts.count} 住人
  %tr
    %td
      = @facility.name
    - @facility.hosts.each do |host|
      %td= link_to host.name, host
%p
  = link_to '一覧へ戻り', facilities_path
  = link_to '情報更新', edit_facility_path(@facility)
