.container
  = form_with method: :get, local: true do
    .row
      .col-25= label_tag :host, 'Visitado'
      .col-75b= select_tag :host, options_for_select(@facility.residents.collect{ |h| [h.name, h.id]})
    .container
      .row
        .col-25= label_tag :date, 'Data da Visita:'
        .col-75
          = hidden_field_tag :date, '', id: "my-input", required: true
          .testStyle{id: "my-datepicker"}
      .row
        .col-25= label_tag :time, 'Hora da Visita'
%div{class: "container"}
  %form{method: "get"}
    %div{class: "row"}
      %div{class: "col-25"}
        %label{for: "host"} Visitado:
      %div{class: "col-75"}
        %select{name: "host", required: true}
          - @facility.residents.each do |h|
            %option{value: h.id}= h.name
    %div{class: "container"}
      %div{class: "row"}
        %div{class: "col-25"}
          %label{for: "date"} Data da Visita:
        %div{class: "col-75"}
      %div{class: "row"}
        %div{class: "col-25"}
          %label{for: "time"} Hora da visita:
        %div{class: "col-75"}
          %input{type: "text", id: "my-timepicker", name: "time" }
          %button{type: "button",  onclick: "getTime('my-timepicker')" }
            Hora Atual
      %div{class: "row"}
        %div{class: "col-25"}
          %label{for: "description"} Descrição:
        %div{class: "col-75"}
          %textarea{rows: "3", cols: "60", name: "description"}
    %div{class: "row"}
      %input{type: "hidden", name: "facility", value: params[:facility]}
      %input{type: "hidden", name: "purpose", value: params[:purpose]}
      %input{type: "hidden", name: "cpf", value: @visitor.cpf}
      %input{type: "hidden", name: "name", value: @visitor.name}
      - if params[:purpose] == 'profissional'
        %input{type: "hidden", name: "company", value: @visitor.company}
      %input{type: "submit", value: "Avançar"}

:javascript
  function getTime(i) {
    var d = new Date(),
      h = (d.getHours()<10?'0':'') + d.getHours(),
      m = (d.getMinutes()<10?'0':'') + d.getMinutes();
    document.getElementById(i).value = h + ':' + m;
  }
