.container
  = form_with method: :get, local: true do
    .row
      .col-25= label_tag :host, 'Visitado'
      .col-75b= select_tag :host, options_for_select(@facility.residents.collect{ |h| [h.name, h.id]})
    .container
      .row
        .col-25= label_tag :date, 'Data da Visita:'
        .col-75
          .col-50
            = hidden_field_tag :date, '', id: "my-input", required: true
            .testStyle{id: "my-datepicker"}
        
              //        .col-25= label_tag :time, 'Hora da Visita'

          .col-25R
            = text_field_tag :time, '', id: "my-timepicker", required: true
            = button_tag 'Hora Atual', type: :button, onclick: "getTime('my-timepicker')"
      .row
        .col-25= label_tag :description, 'Descrição:'
        .col-75= text_area_tag :description, '', rows: "3", cols: "60"
    .row
      = hidden_field_tag :facility, params[:facility]
      = hidden_field_tag :purpose, params[:purpose]
      = hidden_field_tag :cpf, @visitor.cpf
      = hidden_field_tag :name, @visitor.name
      - if params[:purpose] == 'profissional'
        = hidden_field_tag :company, @visitor.company
      = submit_tag 'Avançar'

:javascript
  function getTime(i) {
    var d = new Date(),
      h = (d.getHours()<10?'0':'') + d.getHours(),
      m = (d.getMinutes()<10?'0':'') + d.getMinutes();
    document.getElementById(i).value = h + ':' + m;
  }
