.container
  = form_with method: :get do
    .row
      .col-25
        = label_tag :cpf, 'CPF:'
      .col-75
        = text_field_tag :cpf, '', required: true, data: { inputmask: "'alias': 'ip'" }
    .row
      = hidden_field_tag :facility, params[:facility]
      = hidden_field_tag :purpose, params[:purpose]
      = submit_tag 'Validar', disable_with: 'Validando...'

