
:coffee
  $ '#close'
    .click -> $('#history').slideUp 500

.container
  .float-r= button_tag 'Fechar', id: :close
  .float-l= button_to 'Exportar', export_path, params: {appointments: appointments }
  %p
  - unless appointments
    %p Nenhuma visita foi encontrada!
  - else
    %table
      %th Data e Hora
      %th Visitado
      %th Visitante
      %th Motivo
      - appointments.each do |a|
        %tr
          %td= a.date
          %td= link_to a.host.name, a.host
          %td= link_to a.visitor.name, a.visitor
          %td= a.description
    %p
      Total:
      = appointments.count

