.container
  = form_with method: :get, local: true do
    .row
      .col-25= label_tag :cpf, 'CPF:'
      .col-75
        - if @visitor
          = text_field_tag :cpf, @visitor.cpf, disabled: true
          = hidden_field_tag :cpf, params[:cpf]
        - else
          = text_field_tag :cpf, params[:cpf], data: { inputmask: '999' }
    .row
      .col-25= label_tag :name, 'Nome:'
      .col-75
        - if @visitor
          = text_field_tag :name, @visitor.name, disabled: true
          = hidden_field_tag :name, @visitor.name
        - else
          = text_field_tag :name, '',required: true, autofocus: true
    - if params[:purpose] == "professional"
      .row
        .col-25= label_tag :company, 'Empresa:'
        .col-75
          - if @visitor
            = text_field_tag :company, @visitor.company.name, disabled: true
            = hidden_field_tag :company, @visitor.company.name
          - else
            = text_field_tag :company, '', required: true
    .row
      = hidden_field_tag :facility, @facility.id
      = hidden_field_tag :purpose, params[:purpose]
      - if !@visitor
        = submit_tag "Avançar"
