.container#menu
  = link_to 'Nova Visita', root_path
  |
  = link_to 'Histórico', root_path
  |
  = link_to 'Logout', logout_path
  
#alert= alert
#notice= notice

.container
  %form{method: "get"}
    %div{class: "row"}
      %div{class: "col-25"}
        %label{for: "purpose"} Motivo de Visita:
      %div{class: "col-75"}
        %input{type: "radio", name: "purpose", id: "particular", value: "particular", required: true, checked: params[:purpose] == "particular"} Particular
        %input{type: "radio", name: "purpose", id: "professional", value: "professional", required: true, checked: params[:purpose] == "professional"} Professional (Serviço)
    %div{class: "row"}
      %div{class: "col-25"}
        %label{for: "facility"} Localidade:
      %div{class: "col-75"}
        %select{name: "facility"}
          - @facilities.each do |f|
            %option{selected: params[:facility].to_i == f.id, value: f.id }= f.name
    %div{class: "row"}
      %input{type: "submit", value: "Avançar"}

// CPF Validator Form
- if params[:facility] and params[:purpose] and not @visitor
  = render 'cpf_validator'

// Visitor/Employee Form
- if params[:facility] and params[:purpose] and params[:cpf]
  = render 'visitor_form'

// Appointment Form
- if @visitor and params[:name]
  = render 'appointment_form'

