.container#menu
  = link_to 'Nova Visita', root_path
  |
  = link_to 'Histórico', root_path
  |
  = link_to 'Logout', logout_path
  
#alert= alert
#notice= notice

.container
  = form_with method: :get, local: true do
    .row
      .col-25
        = label_tag :purpose, 'Motivo da Visita:'
      .col-75
        = radio_button_tag :purpose, 'particular', params[:purpose] == 'particular', required: true
        Particular
        = radio_button_tag :purpose, 'professional', params[:purpose] == 'professional', required: true
        Profissional (Serviço)
    .row
      .col-25
        = label_tag :facility, 'Localidade:'
      .col-75
        = collection_select :facility, :id, Facility::all, :id, :name, required: true, prompt: true
    .row
      = submit_tag 'Avançar'

// CPF Validator Form
- if params[:facility_id] and params[:purpose] and not @visitor and (not params[:cpf] or not @valid_cpf)
  = render 'cpf_validator'

// Visitor/Employee Form
- if params[:facility_id] and params[:purpose] and params[:cpf] and @valid_cpf
  = render 'visitor_form'

// Appointment Form
- if @visitor
  = render 'appointment_form'

