
.container
  %h1 Histórico de Visitas
  %hr

  // Record Filters
  #filters
    .form
      = form_with do
        - filters = 'filters[]' # a little helper
        .row
          .col-25
            = check_box_tag filters, :facility, false, id: :filter_facility
            = label :facility, 'Prédio:', for: :filter_facility
          .col-75
            = select :facility, Facility::all
        .row
          .col-25
            = check_box_tag filters, :resident, false, id: :filter_resident
            = label :resident, 'Morador:', for: :filter_resident
          .col-75
            = select :resident, Resident::all
        .row
          .col-25
            = check_box_tag filters, :employee, false, id: :filter_employee
            = label :employee, 'Funcionário:', for: :filter_employee
          .col-75
            = select :employee, Employee::all
        .row
          .col-25
            = check_box_tag filters, :visitor, false, id: :filter_visitor
            = label :visitor, 'Visitante:', for: :filter_visitor
          .col-75
            = select :visitor, Visitor::all
        .row
          .col-25
            = check_box_tag filters, :cpf, false, id: :filter_cpf
            = label :cpf, 'CPF:', for: :filter_cpf
          .col-75
            = text_field_tag :cpf
        .row
          .col-75  
            = submit_tag 'Buscar', data: { disable_with: 'Buscando...' }

// Records
#history{ style: 'display: none;' }

