%p#notice= notice
%sub
  = link_to '[home]', root_path
  = link_to '[dev]', dev_path

%h1
  Companies
  = link_to ?+, new_company_path

- if @companies.empty?
  %p No data found!
- else
  %table
    %tr
      %th CNPJ
      %th Name
      %th Employees [Visitors]
      %th{ colspan: 3 } Actions

    - @companies.each do |company|
      %tr
        %td= company.cnpj
        %td= company.name
        %td
          - if company.employees.empty?
            (empty)
          - else
            - company.employees.each do |employee|
              = link_to employee.name, employee
        %td= link_to 'Show', company
        %td= link_to 'Edit', edit_company_path(company)
        %td= link_to 'Delete', company, method: :delete
  Total:
  = @companies.count
