.container
  %h1 Empresas
  %hr
  = button_to 'Novo', new_company_path, method: :get

  - if @companies.empty?
    %p Nada encontrado.
  - else
    %table
      %th Nome
      %th CNPJ
      %th Funcionários
      - @companies.each do |company|
        %tr
          %td= link_to company.name, company
          %td= company.cnpj
          - if company.employees.empty?
            %td (Vazio)
          - else
            %td
              - company.employees.each do |employee|
                = link_to employee.name, employee
  %p
    Total:
    = @companies.count
