= form_with(model: resident, local: true) do |form|
  - if resident.errors.any?
    #error_explanation
      %h2
        = pluralize(resident.errors.count, "error")
        prohibited this resident from being saved:
      %ul
        - resident.errors.full_messages.each do |message|
          %li= message
  .row
    .col-25
      = form.label :name, 'Nome do morador'
    .col-75
      = form.text_field :name, required: true
  .row
    .col-25
      = form.label :facility_id, 'Prédio do morador'
    .col-75
      = form.collection_select :facility_id, @facilities, :id, :name, required: true
  .row
    .col-25
      = form.label :number, 'Número/Lote'
    .col-75
      = form.text_field :number
  .row
    = form.submit 'Avançar'
