%p#notice= notice
%sub
  = link_to '[home]', root_path
  = link_to '[dev]', dev_path

%h1
  Residents
  = link_to '+', new_resident_path

- if @residents.empty?
  %p No data found!
- else
  %table
    %th Name
    %th Facility
    %th{ colspan: 3 } Actions
    - @residents.each do |resident|
      %tr
        %td= resident.name
        %td= link_to resident.facility.name, resident.facility
        %td= link_to 'Show', resident
        %td= link_to 'Edit', edit_resident_path(resident)
        %td= link_to 'Delete', resident, method: :delete

  Total:
  = @residents.count
