%p#notice= notice

%h1
  Moradores
  = link_to '+', new_resident_path

- if @residents.empty?
  %p Nada encontrado.
- else
  .container
    %table
      %th Nome
      %th Prédio
      - @residents.each do |resident|
        %tr
          %td= link_to resident.name, resident
          %td= link_to resident.facility.name, resident.facility

  Total:
  = @residents.count
