%p#notice= notice

.container
  %h1
    = @resident.name
  .row
    .col-25
      Prédio:
    .col-75
      = link_to @resident.facility.name, @resident.facility

  .row
    .col-25
      Visitas:
    .col-75
      - if @resident.appointments.empty?
        Nenhuma Visita
  %p
    - @resident.appointments.each do |appointment|
      = appointment.description
      with
      = appointment.visitor.name
      %br
  %p
    Created by
    = link_to @resident.created_by.name, @resident.created_by
    at
    = @resident.created_at
    %br
    - if @resident.updated?
      Updated by
      = link_to @resident.updated_by.name, @resident.updated_by
      at
      = @resident.updated_at
  %p= link_to 'Edit', edit_resident_path(@resident)
