= form_with(model: appointment, local: true) do |form|
  - if appointment.errors.any?
    #error_explanation
      %h2
        = pluralize(appointment.errors.count, "error")
        prohibited this appointment from being saved:
      %ul
        - appointment.errors.full_messages.each do |message|
          %li= message
  .row
    .col-25
      = form.label :description, 'Descrição da Visita'
    .col-75
      = form.text_field :description, required: true
  .row
    .col-25
      = form.label :host_id
    .col-75
      = form.collection_select :host_id, @residents, :id, :name
  .row
    .col-25
      = form.label :visitor
    .col-75
      = form.collection_select :visitor, @visitors, :id_with_type, :name
  .row
    = form.submit 'Avançar'
