.container
  %h1
    Visitas
    = link_to ?+, new_appointment_path
    %hr
  - if @appointments.empty?
    %p Nada encontrado.
  - else
    %table
      %th Descrição
      %th Morador
      %th Visitante
      %th Data
      - @appointments.each do |appointment|
        %tr
          %td= link_to appointment.description, appointment
          %td= link_to appointment.host.name, appointment.host
          %td= link_to appointment.visitor.name, appointment.visitor
          %td= appointment.date
  Total:
  = @appointments.count
