%p#notice= notice
%h1
  Appointments
  = link_to ?+, new_appointment_path
.container
  %table
    %th Description
    %th Host
    %th Visitor
    %th Date
    %tbody
      - @appointments.each do |appointment|
        %tr
          %td= link_to appointment.description, appointment
          %td= link_to appointment.host.name, appointment.host
          %td= link_to appointment.visitor.name, appointment.visitor
          %td= appointment.date
%br/
= link_to 'New Appointment', new_appointment_path
